body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #292929;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100px;
}

.question-box {
    background-color: #4F4E4F;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    color: wheat;
}

.option-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.option {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: white;
}
.option:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.correct {
    color: #a6f0c6;
    background-color: white; 
}

.incorrect {
    color: #f0a6a6;
    background-color: white; 
}

.question-container{
    padding: 100px;
    background-color: #444444;
    border-radius: 15px;
}

#background{
    background-color: white;
    padding: 250px;
}