body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

#main-container{
    margin: 15px;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
}

#chat-gpt-box{
    align-items: center;
    text-align: center;
    background-color: #D3D3D3;
    border-radius: 10px;
    /* margin: 10px; */
    }

#chat-gpt-text{
    color: black;
    padding: 5px;
}
.top-bar{
    background-color: gray;
    vertical-align: top;
    height: 75px;
    width: 100%;
    margin: 0;
}

#text-top-bar{
    text-align: center;
    line-height: 75px;
    margin: 0;
    color: black;
    padding: 0;
}
.button-look{
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.general-question-button:hover{
    background-color: lightcoral; /* Green */
    color: white;
    align-items: center;
}

#general-question-container {
    /* padding-top: 15px; */
    text-align: center;
}


#FAANG-question-container {
    /* padding-top: 15px; */
    align-items: center;
}

#facebook:hover{
    background-color: blue;
}
#apple:hover{
    background-color: lightgrey;
}
#amazon:hover{
    background-color: orange;
}
#netflix:hover{
    background-color: darkred;
}
#google:hover{
    background-color: green;
}

#answer-box{
    text-align: center;
}

.button-answer:hover{
    background-color: lightcyan;
}

.FAANG-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    flex-wrap: wrap;
}

.FAANG-question-button {
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
}

.logo {
    max-height: 50px; 
    max-width: 50px; 
    object-fit: contain; 
}

.logo-website{
    object-fit: contain; 
    display: flex;
    justify-content: center;
    margin: 15px;
}
.title-logo{
    max-height: 300px; 
    max-width: 300px; 
    object-fit: contain; 
    display: flex;
    justify-content: center;
}

/* Add these styles to your CSS file or within a <style> block */
a.button-look {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    width: 2%;
    height: 2%;
}
